@import './mixin.scss';
@import './btn.scss';
@import './element-ui.scss';
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

/** math **/

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-70 {
  margin-left: 70px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-5 {
  margin-right: 5px;
}

/** math **/
.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

//main-container全局样式

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
    color: rgb(32, 160, 255);
  }
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

//修复弹层滚动穿透
.modal-open-helper {
  position: fixed;
  width: 100%;
}

//公共隐藏样式
.hide {
  display: none;
}

.page-container {
  background-color: #fff;
  margin-top: 10px;
  padding: 20px 25px 25px;
  &.format-form {
    .el-select .el-input__inner,
    .el-date-editor.el-input,
    input.el-input__inner {
      width: 175px;
    }
    .textarea-input {
      width: 50%;
    }
  }
}
